/* Image Styling */
.rounded-img {
    border-radius: 50%;
}

.img-border {
    background-image: linear-gradient(131.83deg, #FFFFFF 0%, #e9ecef 99.21%);
    border-radius: 16px !important;
}

.img-fluid {
    transition: 1s ease;
}

.img-fluid:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

#gallery img,
#about img,
#services img {
    display: block;
    margin: auto;
}

/* Carousel Styling */
.carousel-item {
    height: 75vh;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.2;
    z-index: 1;
}

@media (max-width: 992px) {
    .carousel-item>img {
        object-fit: cover;
    }
}

/* Seasonal Call To Action Styling */
.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
}

.caption {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Back To Top Button Styling */
.back-to-top {
    font-family: "roboto-black", sans-serif !important;
    font-size: 1.3rem !important;
    text-transform: uppercase !important;
    letter-spacing: .2rem !important;
    color: #FFFFFF !important;
    display: inline-block !important;
    bottom: 0;
}

.back-to-top a {
    display: block;
    background: #70bce7 !important;
    padding: 1.2rem 3rem 1.5rem !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.back-to-top a:hover,
.back-to-top a:focus {
    background: #007bff !important;
}

.back-to-top .fa-anchor {
    font-size: 30px !important;
}

@media (max-width: 421px) {

    .back-to-top,
    .back-to-top .fa-anchor {
        font-size: .58rem !important;
    }
}

/* Navbar Styling */
/* https://stackoverflow.com/questions/37758887/animated-x-icon-for-bootstrap-toggle/64265878#64265878 */
.navbar-toggler {
    border: none !important;
    border-radius: 0 !important;
}

.navbar-toggler span {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}

@media (max-width: 991px) {
    #navbarLinks {
        height: 100vh;
        font-size: 2rem;
        margin-top: 30px;
    }
}

.lock-scroll {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

/* Contact Map Styling */
#mapDiv {
    width: 100%;
    overflow: hidden;
}

#mapDiv iframe {
    border: none;
    --width: 100vw;
    --height: 50vh;
    --scale: 0.7;
    width: var(--width);
    height: var(--height);
    transform: scale(var(--scale));
    margin: calc(-1 * (var(--height) - var(--scale) * var(--height)) / 2) calc(-1 * (var(--width) - var(--scale) * var(--width)) / 2);
}

/* FB Styling */
#fbDiv {
    width: 100%;
    overflow: hidden;
}

/* Other Styling */
.long-email {
    word-break: break-all;
}

/* Waves Footer Animation Styling */
/* https://codepen.io/goodkatz/pen/LYPGxQz */
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -10vh;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #fff;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

@media (max-width: 421px) {
    .waves {
        min-height: 60px;
    }
}

/* Wave Page Loader Animation */
/* https://uiverse.io/mrhyddenn/angry-goat-2  */
#pageLoader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    transition: 1s 0.4s;
    margin: auto;
    overflow: hidden !important;
    height: 100%;
    width: 100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 80px;
    width: 80px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgb(25, 116, 253);
    border-radius: 50%;
}

.waves-loader {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(30, 146, 255);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .3);
}

.waves-loader::before,
.waves-loader::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.waves-loader::before {
    border-radius: 45%;
    background: rgb(248, 248, 248);
    animation: wave91234 5s linear infinite;
}

.waves-loader::after {
    border-radius: 40%;
    background: rgba(255, 255, 255, .5);
    animation: wave91234 10s linear infinite;
}

@keyframes wave91234 {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* Wave Contact Call To Action Button Styling */
/* https://uiverse.io/cssbuttons-io/nice-walrus-6 */
.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.c-button--gooey {
    color: #2fa4e7;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #2fa4e7;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: #2fa4e7;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}

/* Scroll Indicator Animation */
/* https://codepen.io/JonasNoldeDev/pen/BKMXwV */
@keyframes scroll_2 {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    75% {
        transform: translateY(.75em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.scroll-icon__dot {
    display: block;
    position: absolute;
    left: 50%;
    background: #e9ecef;
    height: .5em;
    width: .5em;
    top: .6em;
    margin-left: -.25em;
    border-radius: 50%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll_2 2s ease-out infinite;
}

/* General icon style */
.scroll-icon {
    display: block;
    position: relative;
    height: 3em;
    width: 1.5em;
    border: .25em solid #e9ecef;
    border-radius: 1em;
}

.example {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}